<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootWebApplication" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../Program Files/Java/jdk-13.0.2" />
    <option name="MAIN_CLASS_NAME" value="com.questionnairePortal.SpringBootWebApplication" />
    <module name="questionnairePortalBackend" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>